body{
    display: flex;
    text-align: center;
    background-color: grey;
    color: white;
    justify-content: center;
}

.calculator{
    width:300px;
    margin-top: 70px;
    border-radius: 9px;
    padding: 25px;
    background-color: rgb(42, 42, 42);
}

.Clear{
    margin-top: 5px;
    margin-bottom: 10px;
    width: 250px;
    height: 50px;
    text-align: center;
    justify-content: center;
    border-radius: 7px;
    border: none;
    color:  yellow;
    background-color: red;
    font-size: large;    
}

.display{
    margin-bottom: 25px;
    width: 300px;
    height: 50px;
    text-align: right;
    border-radius: 7px;
    background-color: white;
    font-size: 25px;
}

.btn{
    width: 50px;
    height: 50px;
    margin: 5px;
    border-radius: 50%;
    border: none;
    background-color: lightgrey;
    font-size: 18px;
    cursor: pointer;

}

.btn.operator{
    background-color: orange;
    color: white;
    font-size: 18px;
    margin-left: 10px;
}

.btn.equal{
    background-color: lightgreen;
    color: white;
    font-size:large;
  
}

.button{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 8px;
    
}
